hover {
  padding: 15px;
  background: green;
  color: white;
one;
}

.hover:hover {
  background: darkgreen;  
  transform: scale(0.1);   
}

.options {
  display: none;        
  background: grey;     
  padding: 4px;         
}

.dropdown:hover .options {
  display: block;      
}

.options a {
  display: block;       
  padding: 5px;        
  text-decoration: none;
  color: black;
}



